/* style reset */
body{
    margin: 0px;
    border: 0;
    padding: 0;
}

h1, h2, p, a, button{
    
    font-family: 'Poppins', sans-serif;
    color: white;
}

li, a, button {
    list-style: none;
    text-decoration: none;
    
}

/* style menu */ 

.navbar{
    background-color: #c03e0d;
    justify-content: space-evenly;
    display: flex;
    font-size: 16px;
    position: relative;
}

nav.navbar ul {
    display: flex;

}

nav.navbar ul li {
    padding: 10px;
}


.navbar ul li a{
    color:white;
    
}

.botao-cadastro{
    color: white;
    border-radius: 4px;
    background: #a82509;
    border: unset;
    margin: 15px;
    font-size: 16px;
}

.botao-cadastro a{
    color: white;
    padding: 10px;
}



.navbar ul li a:hover{
    color: #730604;
    font-weight: bolder;

}
.botao-cadastro:hover{
    background: #a83f09;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
}

.logo img {
 width: 55px;
}

/* Style main */

main.container-carrossel {
    background-image: linear-gradient(#d65420, #a5362f);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.img-legumes img {
    width: 400px;
    margin-left: -153px;
    margin-top: -74px;
    
}

.img-celular img {
    width: 90%;
    margin-top: 20px;
    
}

.box-text h1 {
    font-weight: normal;
}

.box-text strong {
    font-weight: bold;
}

main.container-carrossel .box-text {
    color: white;
}

button.buttons-store {
    background: #6e0503;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;

}

/* style footer */
#footer {
    display: flex;
    background: #c03e0d;
    justify-content: center;
    align-items: center;
}

.copyright {
    width: 80%;
    text-align: center;
}